{% extends 'authentification/base.html' %}

{% block content %}
<div class="row" style="margin-top:10%;">
  <div class="col-lg-3">

  </div>
  <div class="col-lg-6">

    <p>Soyez les bienvenus au stimulateur du système de santé béninois.
        Vous avez une vue configurée selon vos droits d'accès</p>
      <p> La construction du tableau de bord est en cours.</p>

      <p>Nous avons {{patient}} ajouté au système. </p>

</div>
  <div class="col-lg-3">

  </div>

</div>
<div class="container-md hidden">

</div>


{% endblock %}